<nav class="navbar header">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img src="/images/logo-airbnb.png" alt="" width="100" height="30" />
		</a>
		<form class="d-flex gap-2">
			<button type="button" class="btn btn-outline-secondary">
				Marco Ferrera
			</button>
			<button type="button" class="btn btn-outline-secondary">
				Logout
			</button>
		</form>
	</div>
</nav>
