<div class="sfondo">
      <!-- <img
    src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg"
    class="rounded mx-auto d-block"" alt="spiaggia thailandia" /> -->
      <div
        class="card w-25 mt-5  position-absolute top-50 start-50 translate-middle"
      >
        <div class="card-body">
          <img
            src="/images/logo-airbnb.png"
            alt="airbnb logo"
            height="30"
            class="position-relative card-title mt-5 start-50 translate-middle"
          />
          <!-- <h5 class="card-title">Card title</h5> -->
          <form class="card-text" action="/auth/signup" method="post">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Your Full Name</label
              >
              <input
                type="text"
                class="form-control"
								name="name"
                id="exampleFormControlInput1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Profile Picture</label
              >
              <input
                type="text"
                class="form-control"
								name="profilePic"
                id="exampleFormControlInput1"
                placeholder="http://..."
              />
            </div>

            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
								name="email"
                id="formGroupExampleInput"
              />
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
								name="password"
                id="formGroupExampleInput2"
              />
            </div>
            <button
              class="btn btn-secondary mb-3"
              style="background-color: #008080"
              >Signup</button>
          </form>
          <span>Already have an account?</span>
          <a href="#">Login</a>
        </div>
      </div>
    </div>
