{{> header }}
    <div class="container">
      <div class="row">
        <div class="col">
          <img
            src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
            class="img-fluid"
            alt="firs image of the house"
          />
        </div>
        <div class="col container">
          <div class="row row-cols-3">
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
                class="img-thumbnail"
                alt="common space"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
                class="img-thumbnail"
                alt="living room"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
                class="img-thumbnail"
                alt="kitchen"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
                class="img-thumbnail"
                alt="kitchen 2"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
                class="img-thumbnail"
                alt="kitchen 3"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
                class="img-thumbnail"
                alt="bathroom"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
                class="img-thumbnail"
                alt="bedroom"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
                class="img-thumbnail"
                alt="balcony view"
              />
            </div>
            <div class="col">
              <img
                src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
                class="img-thumbnail"
                alt="bedroom 2"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <!-- inserire in questo div tutti gli elementi che dovranno essere presenti nella prima colonna -->
        <div class="col col-lg-8">
          <div>
            <h1>Luxury Villa in Chaweng</h1>
            <span>Koh Samui • 4 Rooms</span>
            <!-- card avatar -->
            <div
              class="card mb-3 mt-4 card border-white"
              style="max-width: 400px;"
            >
              <div class="row g-0">
                <div class="col-md-3">
                  <img
                    src="https://randomuser.me/api/portraits/men/11.jpg"
                    class="img-fluid rounded-circle"
                    alt="avatar image"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <span class="text-muted">Hosted by</span>
                    <h6 class="card-title">Marco Ferrera</h6>
                  </div>
                </div>
              </div>
            </div>
            <p>
              Stylish, tropical, luxorios, airy and absolute stunning view over
              the bay of Chaweng Beach, this villa combines form and function,
              enjoying magnificient views of Samui's small islands and the sea
              beyond. With 520sqm of indoor/outdoor living space with 7 ensuite
              bedrooms,large living area, infinity pool, garden, air conditioned
              gym, professional pool table, bbq and Sala, this villa is perfect
              for up 14 adults With 260sqm (2798sqfeet) of living space and
              260sqm of outdoor space.
            </p>
          </div>
          <div>
            <h2>0 Reviews</h2>
            <form>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Leave a review</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="5"
                ></textarea>
              </div>
              <i class="fas fa-thumbs-up"></i>
              <i class="fas fa-thumbs-down"></i><br />
              <button
                class="btn btn-secondary mt-2"
                style="background-color: #008080"
                type="submit"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
        <div class="col col-lg-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">$350/night</h5>
              <span>0 Reviews</span>
              <form>
                <textarea
                  class="form-control mt-4 mb-2"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Send the host a message..."
                ></textarea>
                <a
                  href="#"
                  class="btn btn-secondary"
                  style="background-color: #008080"
                  >Request Booking</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
